.cart {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  &__summary{
    background-color:#35363a;
    width: 400px;
    height: 200px;
    padding: 30px;
    border-radius: 15px;
    button{
      margin-top: 10px;
      :disabled{
        background-color: #35363a;
      }
    }
  }
  &-items {
  width: 70%;
  height: calc(90vh - 40px);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 1em;

  &::-webkit-scrollbar {
      display: none;
    }
}
}

