.navbar-actions{
    display: flex;
    align-items: center;
    .cart-container{
        position:relative;
    }
    .cart-number{
        position:absolute;
        background-color:#1d59cb;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: .9rem;
        color:white;
        display: flex;
        justify-content: center;
        top: -4px;
        right: -3px;
    }
}