.menu {
  width: 20vw;
  height: calc(90vh - 30px);
  background-color: #35363a;
  border-radius: 12px;
  padding: 20px;
  position:relative;

  &-link {
    color: white;
    text-decoration: none;

    h1 {
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 500;
    }
    &:hover{
        h1 {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    &-active {
      h1 {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .logout-icon{
    position: absolute;
    bottom:20px;
    left:20px;
  }
}
